<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.firstinspires.ftc.teamcode">

    <uses-sdk
        tools:overrideLibrary="com.pedropathing.ftc, com.pedropathing.telemetry, com.bylazar.fullpanels" />

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false">

        <activity
            android:name="org.firstinspires.ftc.robotcontroller.internal.PermissionValidatorWrapper"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name="org.firstinspires.ftc.robotcontroller.internal.FtcRobotControllerActivity"
            android:exported="true"
            tools:replace="android:exported" />

    </application>
</manifest>